:root{
    --dropdown-width:200px;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
}
main{
  width: 100%; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  background-image:url(./img/race_page.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 

}
.formula-won {
    text-align: center;
    padding-top: 100px;
    width: 70%;
    position: relative;
    margin-bottom: 37px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    font-size: 156px;
    color: #000000;
  }
  .button-containers{
    display: flex;
    width: 70%;
  }
  .btn-section{
    flex: 1;
    display: flex;
    justify-content: center;
  }

/* Boring button styles */
a.button {
    /* Frame */
    /* display: inline-block;
    padding: 20px 28px;
    border-radius: 50px; */
    margin-right: 11.5px;
    width: 146px;
    overflow-wrap: break-word;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    
    /* Style */
    border-radius: 4px;
    border: 1px solid #000000;
    background: #F28507;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }
  
  a.button:active {
    filter: brightness(75%);
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    
    border: none;
  }
  
  .dropdown summary {
    list-style: none;
    list-style-type: none;
  }
  
  .dropdown > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown summary:focus a.button {
    border: 2px solid rgb(255, 0, 0);
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  
  .dropdown ul {
    position: absolute;
    margin: 0 0 0 0;
    padding: 20px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) + 10px);
    box-sizing: border-box;
    z-index: 2;
    background: #FFCB8F;
    border-radius: 4px;
    list-style: none;
    border: 1px solid #000000;
  }
  
  .dropdown ul li {
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li a:link, .dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    
    color: var(--dropdown-color);
    text-decoration: none;
  }
  
  .dropdown ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-background);
  }
  
  /* Dropdown triangle */
  .dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
  }
  
  
  /* Close the dropdown with outside clicks */
  .dropdown > summary::before {
    display: none;
  }
  
  .dropdown[open] > summary::before {
      content: ' ';
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
  }
  .submit-btn-container{
    padding-bottom: 100px;
    padding-top: 200px;

  }
  .button-2 {
    box-shadow: 0px 0px 0px 0px #000000;
    border-radius: 4px;
    border: 1px solid #000000;
    background: var(--red, #E10600);
    position: relative;
    margin-left: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15.5px 0.6px 15.5px 0;
    width: 213px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
  }  
  .button-2 a{
    text-decoration: none;

  }
